{% extends "non_responsive_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load boxes_tags %}
{% load cache %}

{% block head_title %}{% trans "Conference Schedule" %}{% endblock %}

{% block page_title %}
    {% trans "Conference Schedule" %}
{% endblock %}

{% block page_content %}
    <div class="container">
        {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
        {% box "schedule_top-"|add:lang %}
        {% endwith %}
        {% for section in sections %}
            {% cache 600 "schedule-table" section.schedule.section %}
                {% for timetable in section.days %}
                    <h3>{{ timetable.day.date }}</h3>
                    {% include "schedule/_grid.html" %}
                {% endfor %}
            {% endcache %}
        {% endfor %}

        {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
        {% box "schedule_bottom-"|add:lang %}
        {% endwith %}
    </div>
{% endblock %}
