{% extends "non_responsive_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load boxes_tags %}
{% load cache %}
{% load sitetree %}

{% block head_title %}{{ schedule.section.name }}{% blocktrans %} Schedule{% endblocktrans %}{% endblock %}

{% block page_title %}
        {{ schedule.section.name }}{% blocktrans %} Schedule{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}{% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}{% sitetree_breadcrumbs from "main-"|add:lang %}{% endwith %}{% endblock %}

{% block page_content %}
    <div class="container">
        {% box "schedule_top_"|add:schedule.section.name|slugify %}

        {% cache 600 "schedule-table" schedule.section %}
            {% for timetable in days %}
                <h3>{{ timetable.day.date }}</h3>
                {% include "schedule/_grid.html" %}
            {% endfor %}
        {% endcache %}

        {% box "schedule_bottom_"|add:schedule.section.name|slugify %}
    </div>
{% endblock %}
