{% load i18n %}
{% load url from future %}

<section class="widget">
    <h4>{% trans "Sign in with another account:" %}</h4>
    <ul class="unstyled">
        <!-- <li>
            <a href="{% url "socialauth_begin" "google" %}">Sign-in using Google</a>
        </li> -->
        <li>
            <a href="{% url "socialauth_begin" "yahoo" %}">Sign-in using Yahoo!</a>
        </li>
        <li>
            <a href="{% url "socialauth_begin" "facebook" %}">Sign-in using Facebook</a>
        </li>

        <li>
            <a href="{% url "socialauth_begin" "twitter" %}">Sign-in using Twitter</a>
        </li>

    </ul>
</section>

<section class="widget">
    <h4>{% trans "Sign in with OpenID" %}</h4>
    <form action="{% url "socialauth_begin" "openid" %}" method="POST" autocapitalize="off" class"form-inline">
        {% csrf_token %}
        <input class="openid" type="text" name="openid_identifier" placeholder="Your OpenID Identifier" />
        <input type="submit" value="{% trans "Sign in" %}" class="btn btn-primary" />
    </form>
</section>
{% if 'signup' not in request.get_full_path %}
<section class="widget last">
    <h4>{% trans "Don't have an account? "%}</h4>
    <p><a href="{% url "account_signup" %}">{% trans "Sign up now!" %}</a></p>
</section>
{% endif %}
