{% extends "responsive_base.html" %}

{# TODO:このファイルを修正する #}
{% load i18n %}
{% load cache %}
{% load compress %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load boxes_tags %}
{% load pyconjp_tags %}

{% block head_title_base %}PyCon JP {{ config.URL_PREFIXES }} in Tokyo | October 9th &ndash; October 12th{% endblock %}

{% block body_class %}
    {{ block.super }}
    home
{% endblock %}

{% block banner %}
    <div class="banner">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        {% comment %}
                        {% if config.REGISTRATION_STATUS != 'open' %}
                            <div class="promo no-link">
                                {% if config.REGISTRATION_STATUS == 'soon' %}
                                    <p>{% trans "Register Fall 2013" %}2013</p>
                                {% elif config.REGISTRATION_STATUS == 'closed' %}
                                    <p class="small">{% trans "Registration Closed" %}</p>
                                {% else %}
                                    <p>&nbsp;<br>&nbsp;</p>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% endcomment %}
                    </div>
                </div>
                <div class="row">
                    <div class="schedule span12">
                        <ul>
                          <li><strong>Tutorials</strong> <br>October 9</li>
                          <li><strong>Conference</strong> <br>October 10&ndash;11</li>
                          <li><strong>Sprints</strong> <br>October 12</li>
                        </ul>
                    </div>
                </div>
                {% comment %}
                <div class="row" style="position: relative;text-align: center;z-index:1000;padding:0 10px;">
                  {% trans "PyCon JP 2014 is over!" %}<br>
                  {% trans "Thanks to everyone for making it a great success!" %}<br>
                </div>
                {% endcomment %}
                {% if config.REGISTRATION_STATUS == 'open' %}
                    <div class="promo" itemprop="tickets" itemscope itemtype="http://data-vocabulary.org/Offer">
                      <a href="{% url 'registration_start' %}">{% trans "REGISTER" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_outer %}
<div class="container">
    {% cache 600 "homepage-sponsor-slider" %}
        {% sponsors as all_sponsors %}
    {% if all_sponsors %}
    <div class="row">
        <div class="span12 sponsor-crawl">
            <h2 class="scroll-title">{% trans "Sponsors" %}</h2>
            <div id="sponsorslider" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    {# sponsors without levels, 12 per each slide #}
                    {% for sponsor in all_sponsors %}
                        {% if forloop.first or forloop.counter0|divisibleby:"12" %}
                            <div class="item {% if forloop.first %}active{% endif %}" style="margin: auto;">
                        {% endif %}

                        <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
                            <div class="sponsor-scroll-item" style="background-image: url('{% thumbnail sponsor.website_logo '300x300' %}')" data-background-2x="{% thumbnail sponsor.website_logo '500x500' %}"></div>
                        </a>
                        {% if forloop.counter|divisibleby:"12" or forloop.last %}</div>{% endif %}
                    {% endfor %}
                </div>


                {% if all_sponsors.count > 12 %}
                  <!-- Carousel nav -->
                  <nav id="slider-nav">
                    {% for sponsor in all_sponsors %}
                        {% if forloop.first or forloop.counter0|divisibleby:"12" %}
                            <a href="#" class="{% if forloop.first %}activeSlide{% endif %}"></a>
                        {% endif %}
                    {% endfor %}
                  </nav>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endcache %}

    <div class="row homepage-content">
        {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
        {% latest_section_posts lang as posts %}
        <div class="span8">
            <h3>{% trans "Announcements" %}</h3>
                {% for post in posts %}
                    <div class="blog-post">
                        <div class="date">
                            <span class="month">{{ post.published|date:"M" }}</span> {{ post.published|date:"d" }}
                            <span class="year">{{ post.published|date:"Y" }}</span>
                        </div>
                        <div class="post-content">
                            <h2>{{ post.title }}</h2>
                            {% blocktrans with author=post.author.get_full_name %}
                              <p class="post_dateline">by <span class="author">{{ author }}</span></p>
                            {% endblocktrans %}
                            <div class="teaser">{{ post.teaser_html|safe }}</div>
                        </div>
                    </div>
                {% empty %}
                    <p>{% trans "No announcements have been published." %}</p>
                {% endfor %}
        </div>
        {% endwith %}

        <div class="span4">
          {# homepage-about for each language #}
          {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
          {% box "homepage-about-"|add:lang %}
          {% endwith %}
        </div>
    </div>
</div>
{% endblock %}


{% block extra_body %}
    {% compress js %}
        <script type="text/javascript">
            $(function(){
                var slider = $("#sponsorslider").carousel({interval: 7000});
                slider.bind("slid", function() {
                    var index = $(this).find(".active").index();
                    $(this).find("#slider-nav a").removeClass("activeSlide").eq(index).addClass("activeSlide");
                });
                $("#slider-nav a").click(function(e){
                    var index = $(this).index();
                    slider.carousel(index);
                    e.preventDefault();
                });

                var retina = window.devicePixelRatio > 1.5 ? true : false;
                if (retina) {
                    $("div.sponsor-scroll-item").each(function() {
                        var retinaimage = $(this).data("background-2x");
                        $(this).css("background-image", "url("+retinaimage+")");
                        // preload image
                        $('<img/>')[0].src = retinaimage;
                    })
                };
            });
        </script>
    {% endcompress %}
{% endblock %}
