{% extends "theme_base.html" %}

{% load url from future %}

{% load localeurl_tags %}
{% load locale_url from localeurl_future %}
{% load cache %}
{% load compress %}
{% load static %}
{% load i18n %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load sitetree %}
{% load kwacros %}

{% kwacro title %}{% block head_title_base %}{% block head_title %}{% endblock %} | PyCon JP {{ config.URL_PREFIXES }} in TOKYO{% endblock %}{% endkwacro %}

{% block style_base %}
    {% compress css %}
        <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/site.less" />
        <script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/site.less" />
        {% endcompress %}
    {% endif %}

    {% compress css %}
        {% include "markedit/includes/markedit-css.html" %}
    {% endcompress %}

    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <meta property="og:type" content="{% if config.URL_PREFIXES == request.path|cut:"/" %}website{% else %}article{% endif %}" />
    <meta property="og:image" content="https://pycon.jp/{{ config.URL_PREFIXES }}/site_media/static/img/ogp_logo.png" />
    <meta property="og:title" content="{% usekwacro title %}" />
    <meta property="og:url" content="https://{{ request.get_host }}{{ request.path }}" />
    <meta property="og:site_name" content="PyCon JP {{ config.URL_PREFIXES }}" />
    <meta property="og:description" content="PyCon JP {{ config.URL_PREFIXES }}" />


    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% include "markedit/includes/markedit-js.html" %}
    {% block extra_head %}{% endblock %}
    <meta name="google-site-verification" content="fG_DG4G4eFtBcgIKht-bJKdirGhDa_51X6yeCS8daDs" />
{% endblock %}

{% block extra_body_base %}
  {% if config.GOOGLE_ANALYTICS_TRACKING_ID %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ config.GOOGLE_ANALYTICS_TRACKING_ID }}', 'pycon.jp');
    ga('send', 'pageview');
  </script>
  {% endif %}
  {% block extra_body %}{% endblock %}
{% endblock %}

{% block topbar_base %}
    {% include "_messages.html" %}
    <header class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{% url 'home' %}">
                    <img src="{{ STATIC_URL }}img/pycon2015-logo-small.png" alt="PyCon JP {{ config.URL_PREFIXES }} in Tokyo" width="100">
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">language <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for language in LANGUAGES %}
                                    <li class="{% if request.LANGUAGE_CODE == language.0 %}active{% endif %}"><a href="{{ request.path|chlocale:language.0 }}">{% if language.0 == "ja" %} 日本語 {% else %} {{ language.1 }} {% endif %}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <!-- {% if user.is_authenticated %} {% trans "loggedin" %}{% endif %} -->
                        {% block account_bar %}
                        {% include "_account_bar.html" %}
                        {% endblock %}
                    </ul>
                    <ul class="nav">
                        {% block topbar %}
                            {% block nav %}
                            {# NOTE: Make sure we strip off the country part of the language code #}
                            {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
                            {% sitetree_menu from "main-"|add:lang include "trunk" %}
                            {% endwith %}
                            {% endblock %}
                        {% endblock %}
                    </ul>
                </div><!-- /nav-collapse -->

            </div><!-- /container-fluid -->
        </div><!-- /navbar-inner -->

    </header>
<!--     <a id="skip" href="#content">{% trans "Skip to main content" %}</a> -->
    {% block banner %}{% endblock %}
{% endblock %}



{% block body_base %}
    <div id="content">
        {% block body_outer %}
            <div class="page-head">
                <div class="container">
                    <h1>{% block page_title %}{% endblock %}</h1>
                    {% block breadcrumbs %}{% endblock %}
                </div>
            </div>
            <div class="page-content">
                {% block page_content %}
                <div class="container">

                    <div class="row">
                        <div class="span9">
                            {% block edit_page %}{% endblock %}
                            <div class="box">
                                <div class="box-content">{% block body %}{% endblock %}</div>
                            </div>
                        </div>
                        <aside class="span3">
                            {% block sidebar %}
                            {% cache 600 "sidebar" %}
                                {% sponsors as all_sponsors %}
                                {% if all_sponsors %}
                                <div class="sponsor-list">
                                    <h2>{% trans "SPONSORS" %}</h2>
                                    {% sponsor_levels as levels %}
                                    {% for level in levels %}
                                        {% if level.sponsors %}
                                            <h3>{{ level.name }}</h3>
                                            {% for sponsor in level.sponsors %}
                                                <a href="{{ sponsor.external_url }}">
                                                    <img src="{% thumbnail sponsor.website_logo '100x60' %}" alt="{{ sponsor.name }}" />
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endcache %}
                            {% endblock %}
                        </aside>
                    </div>{# /row #}

{% block sns %}
    {% include "_sns_buttons.html" %}
{% endblock %}

                </div>{# /.container #}
                {% endblock %}{# /page_content #}
            </div>{# /.page-content #}
        {% endblock %}{# /body_outer #}
    </div>{# /content #}

    <footer>


        <div class="container">
        {% block footer %}
            <a href="{%  url 'home' %}" class="logo">
                <img src="{{ STATIC_URL }}img/pyconjp2015-logo-official.jpg" alt="PyCon JP {{ config.URL_PREFIXES }} in Tokyo">
            </a>
            <div class="footer-content">
                <p class="sns">
                    <a href="https://www.facebook.com/PyConJP"><img src="{{ STATIC_URL }}img/icon-facebook.png"></a>
                    <a href="https://twitter.com/pyconj"><img src="{{ STATIC_URL }}img/icon-twitter.png"></a>
                </p>
                <p>
                  {% blocktrans %}
                    PyCon JP {{ config.URL_PREFIXES }} in Tokyo is a production of the <a href="http://www.pycon.jp/">PyCon JP Management Team</a>.
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans %}
                    Site forked from the <a href="http://us.pycon.org/2014">PyCon 2014</a> site built by <a href="http://caktusgroup.com">Caktus Consulting Group, LLC.</a> using <a href="http://eldarion.com/symposion/" title="Symposion — An Open Platform for Conference Websites">Symposion</a>.
                  {% endblocktrans %}
                </p>
                <p>
                    Questions? Comments? Contact <a href="mailto:{{ config.URL_PREFIXES }}@pycon.jp">{{ config.URL_PREFIXES }}@pycon.jp</a>
                </p>
            </div>
        {% endblock %}
        </div>
    </footer>
{% endblock %}

{% block script_base %}
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% if request.LANGUAGE_CODE == "ja" %}
      <script type="text/javascript" src="https://pyconjp.atlassian.net/s/4c678ddcf30ce958715c72ddb2ee1b23-T/ja_JPrwncre/65000/26/1.4.25/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=ja-JP&collectorId=705f31e0"></script>
    {% else %}
    {% endif %}
    {% block extra_script %}{% endblock %}
{% endblock %}
